/* css=Cascading Style Sheet */
/* 선택자(selector) */
/* #header-serch h1 -> 자손 선택자 */

#header-center {
    margin: 0 auto; 
    width: 1080px;
}
#header-search > h1 {
    width: 200px;
    height: 50px;
    display: inline-block;
    background-image: url(./01\ NAVER\ Logo_Green.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#header-search > h1 span {
    display: none;
}

#header-search h2 {
    display: none;
}

#header-search fieldset {
    width: 520px;
    display: inline-block;
}